// Non-modular or client styles for .l-header region.

.l-header {padding: 8px 0px;}
.l-featured{
  margin-bottom: 10px;
	div{
		float: none;
	}
}
// Top Bar
//--------------------------------------------------
.top-bar {
	display: none;
  	.title-area {}
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}

.block-system-main-menu{
	display:none!important;
}
.banner-full{
	max-width:100%;
}
.block-system-main-menu,.block-megamenu-main-menu{
	background-color: rgba(0, 0, 0, 0.62);
	z-index:3;
	position: relative;
    min-width: 100%;
	.block-title{
		display: none;
	}
}

.not-front .block-system-main-menu,.not-front .block-megamenu-main-menu{
	background-color: #000;
	.block-title{
		display: none;
	}
}
.front{
	.block-system-main-menu,.block-megamenu-main-menu{ 
		position: absolute;
	}
}

.menu,#megamenu-main-menu{
	margin: 0 auto;
    list-style: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    /* max-width: 62.5em; */
    max-width: 68.8em;
    .ul{ float: right;
	li{
	    margin: 0px 14px;
	    float: left;
	    padding-top: 23px;
	    padding-bottom: 20px;
	    margin-right: 20px;
	    font-weight: normal;
		a{
			font-family: "Ubuntu",sans-serif;
		    font-size: 18px;
		    font-weight: normal;
		    color: #999;
		    &:hover{
                     color: #fff;
                    }
            &:active{
                     color: #fff;
                    }
		}
	}
	}
	&:after{
		clear: both;
	}
	&:before,&:after {
    content: " ";
    display: table;
}
		
}