// Non-modular or client styles for the .l-content region.

.l-main {}

.node {}
.body {}
.image {}
.breadcrumb {}
.large-9{
  width:$width-grid-large-9;
  padding-left: 40px;
  padding-bottom: 20px;
}
.large-3{
  width:$width-grid-large-3

}
.not-front .main {
    padding-top: 50px;
}
.view-mode-full.row{
	margin-left: none;
}
