// Non-modular or client styles for the .l-content region.

.l-main {}

.node {}
.body {}
.image {}
.breadcrumb {}
.large-9{
  width:$width-grid-large-9;
  padding-left: 40px;
}
.large-3{
  width:$width-grid-large-3

}