// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "scss/_variables.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 30px;
     -moz-appearance:none;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}
select{
    background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #666;
    height: 30px;
    margin: 5px 5px 5px 0;
    -moz-appearance:none;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}
label {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "opensans", sans-serif;
    color: #999;
    display: block;
    font-weight: normal;
    .views-exposed-form {
    	font-weight: normal;
    }
}
.form-submit {
    #edit-submit{
        background-color: #cc0000;
        border: none;
    }
}
