.page-noticias{

.view-id-noticias{
	.views-row-odd{
		float: left;
		width: 50%;
	}
	 .views-field-changed{
                margin-bottom: 10px;
            span{
                font-size: 12px;
                font-family: "opensans", sans-serif;
                color:#999;
                }
            }
	

}




}