.page-comisiones{
    .view-id-comiciones{
    	.comision-header{
    	font-family: 'opensans',sans-serif;
        font-size: 13px;
        line-height: 22px;
        color: $gris-texto;
    	}

    	.views-field-title{
                border-bottom: solid 1px #e1e1e1;
                padding: 18px 0;
                span{
                    a{
                        font-family: 'ubuntu',sans-serif;
                        color: #000;
                        font-size: 18px;
                        text-transform: uppercase;
                        &:hover{
                        color: #cc0000;
                        }

                    }
                }
            }
    }
}
.documentos-comites{
  .views-field-field-archivo {
    border-bottom: 1px solid #999;
    span{
      a{
        font-family: 'ubuntu',sans-serif;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        &:hover{
          color: #cc0000;
        }

      }
    }

  }
}