.page-documentacion,.page-node-180{



#quicktabs-documentaci_n{
    ul.quicktabs-style-basic{
            height: auto;
            padding:0;
            border-bottom: solid 2px #999;
            

            li{
                background-color: #fff;
                margin: 0;
                width: 300px;
                text-align: center;
                padding: 11px 0px;
                display: inline-block;
                a{
                    @include tamano_fuente(black);
                }
            }
            @media screen and (max-width:40em) {
  li{
    width: 100%;
   }
}
            li.active{
                background-color: $color-fondo-quecktabs;
                border-bottom:0;
                a{
                    @include tamano_fuente(#fff);


                }
            }
        }

}

.quicktabs_main.quicktabs-style-basic {
    background-color: #fff;
    border: none;
    border-top: none;
    padding: 10px;
    clear: both;
}

.view-id-documentacion,.documentos-comites{
    ul.quicktabs-style-basic{
        	height: auto;
        	padding:0;
            border-bottom: solid 2px #999;


        	li{
        		background-color: #fff;
        		margin: 0;
    		    width: 300px;
    		    text-align: center;
    		    padding: 11px 0px;
        		display: inline-block;
        		a{
        			@include tamano_fuente(black);
        		}
        	}
            @media screen and (max-width:40em) {
  li{
    width: 100%;
   }
}
        	li.active{
        		background-color: $color-fondo-quecktabs;
        		border-bottom:0;
                a{
        			@include tamano_fuente(#fff);


        		}
        	}
        }
           .views-field-changed{
                margin-bottom: 4px;
                margin-top: 8px;
            span{
                font-size: 12px;
                font-family: "opensans", sans-serif;
                color:#999;
                }
            }
            .views-field-field-archivo {
                span{
                    a{
                        font-family: 'ubuntu',sans-serif;
                        color: #000;
                        font-size: 18px;
                        text-transform: uppercase;
                        &:hover{
                        color: #cc0000;
                        }

                    }
                }

}
            .views-field-title{
                span{
                    a{
                        font-family: 'ubuntu',sans-serif;
                        color: #000;
                        font-size: 18px;
                        text-transform: uppercase;
                        &:hover{
                        color: #cc0000;
                        }

                    }
                }
            }
            .views-field.views-field-body{
                font-family: 'opensans',sans-serif;
                font-size: 12px;
                line-height: 18px;
                color: $gris-texto;
                border-bottom: solid 1px #e1e1e1;
                padding: 4px 0;
            }  
            .quicktabs-style-basic {
                background-color: #fff;
                border: none;
                padding: 10px;
                clear: both;
        }  
}
.form-type-select{
    .select{
        width: 300px
    }
}
}