// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button {
	color: #fff;
	background-color: #cc0000;
	hover:{
		color: #fff;
		background-color: #000;
	};
}
