.menu{
	li{
		a.active,a:hover{
		padding-top: 23px;
		color: #fff;
	    padding-bottom: 18px;
	    border-bottom: 3px solid #fff112;
	    position: relative;
			&:after{
			 background: none;
			  border-bottom: 3px solid #cf0507;
			  left:0px;
			  right:0px;
			  content: "";
			  display: block;
			  pointer-events: none;
			  position: absolute;
			  top: 64px;
			}
		}		
	}
}