.menu,#megamenu-main-menu{
	li.megamenu-parent {
		a.active,a:hover{
		padding-top: 23px;
		color: #fff;
	    padding-bottom: 18px;
	    border-bottom: 3px solid #fff112;
	    position: relative;
			&:after{
			 background: none;
			  border-bottom: 3px solid #cf0507;
			  left:0px;
			  right:0px;
			  content: "";
			  display: block;
			  pointer-events: none;
			  position: absolute;
			  top: 64px;
			}
		.megamenu-slots-stacking{
			background:#bA0708;
		}
		}		
	ul.megamenu-bin.megamenu-slots-columnar {
    	    background: rgba(186, 7, 8, 0);
		    list-style: none;
		    padding: 17px 0px;
		    border:0;

		li{
		    float: none;
		    padding: 5px 10px;
		    background-color: #bA0708;
		    margin: 0;
			border-bottom: 1px solid #980707!important;

			a{
				color:#f4e1e1;
				text-decoration: none;
				border:0;
				font-size: 15px;

			&:hover{
				 font-size: 15px;
				 color:#fff;
				border:0;
				 
				 
			}
			&:after{
				  position: relative;
				  border-bottom: 0px solid #fff112!important;

				 }
			
			}
		}
		}
		&.after{
			border:0;
		}
	}
}

