/*********************/
/*Slider Home        */
/*********************/
.block-views-views-banner-slider-home-block{
	display: inline-block;
	min-width: 100%;
    /*position: absolute;
    top:0;*/
	.block-title{display:none}
	.flexslider{
		border:0;
		margin-bottom: 0;
	}

	.flex-control-nav{
		bottom:10px;
		z-index: 3;
		}
	.flex-control-nav li{
		a.flex-active{
			background: #cc0000;
		}
	}
	.views-field-title{
		position: absolute;
		top: 200px;
		width: 100%;
		.title-banner-wrapper{
			text-align:center; 
			span{
			  font-family: "Ubuntu",sans-serif;
			  font-size: 46px;
			  letter-spacing: -1px;
			  font-weight: normal;
			  line-height: 40px;
			  color:#fff;
			  text-transform: uppercase;
			}
			p{
				font-family: "Ubuntu",sans-serif;
			  	font-size: 24px;
			  	font-weight: normal;
			  	line-height: 30px;
			  	color:#fff;
			  	text-transform: uppercase;	
			}
		}
	}

}
/*********************/
/*Pager        */
/*********************/ 
.pagination.pager {
    margin: 40px 0;
    .current a {
    background: #cc0000;
    	&:hover{
        background: #000;
        }
	}
	a {
		background: #ccc;
	    color: #fff;
	    display: inline-block;
	    font-size: 14px;
	    font-family: "opensans", sans-serif;
	    padding: 6px 16px;
    	text-transform: uppercase;
	}
}
.search-results {
    padding-left: 1em;
    font-size: 13px;
    color: #999;
    font-family: "opensans",sans-serif;
}
.search-form{
	ul, ol {
    margin-left: 0;
    color: #999;
    font-size: 13px;
    font-family: "opensans", sans-serif;
}
}


